<header class="about-us-bg">
    <div class="header-content">
        <div class="header-content-inner about-us-header-position">
            <ul style="list-style-type: none">
                <li>picture</li>
                <hr class="primary">
                <li><h1 id="homeHeading">Kris Chery</h1></li>
            </ul>
            <%= link_to "BACK", root_path , :class => "btn btn-primary btn-xl page-scroll back-button" %>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            Photo
        </div>
        <div class="col-xs-8">
            <div class="row">
             Last Name
            </div>
            <div class="row">
            Kris's paragraph
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            Photo
        </div>
        <div class="col-xs-8">
            <div class="row">
             Last Name
            </div>
            <div class="row">
            Kris's paragraph
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-4">
            Photo
        </div>
        <div class="col-xs-8">
            <div class="row">
             Last Name
            </div>
            <div class="row">
            Kris's paragraph
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-4">
            Photo
        </div>
        <div class="col-xs-8">
            <div class="row">
             Last Name
            </div>
            <div class="row">
            Kris's paragraph
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-4">
            Photo
        </div>
        <div class="col-xs-8">
            <div class="row">
             Last Name
            </div>
            <div class="row">
            Kris's paragraph
            </div>
        </div>
    </div> 
</div>
<!--Application Footer-->
<%= render "layouts/shared/footer" %>