<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>"We believe..."</h1>
                        <p class="muted">
                        This should get you pointed in the correct direction.
                        It looks like your main hiccup is your button data-target attribute is
                        </p>
                        <!--<a href="/static_pages/work" class="btn btn-outline btn-xl page-scroll">CHECK OUT OUR PORTFOLIO!</a>-->
                    </div>
                </div>
            </div>
                <!--<div class="col-sm-5">-->
                <!--    <div class="device-container">-->
                <!--        <div class="device-mockup iphone6_plus portrait white">-->
                <!--            <div class="device">-->
                <!--                <div class="screen">-->
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <!--                    <img src="img/demo-screen-1.jpg" class="img-responsive" alt="">-->
                <!--                </div>-->
                <!--                <div class="button">-->
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                <!--                </div>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div>-->
        </div>
</header>

<section id="contact" class="contact bg-primary">
    <div class="container">
    <!--<div class="row">-->
    <!--<h4 style="background:#fdcb50">Technologies Used</h4>-->
    <!--<ul class="col-sm-12 col-md-12 hidden-lg technical-list" style="background:#fdcb50">-->
    <!--        <li>Ruby</li>-->
    <!--        <li>Rails</li>-->
    <!--        <li>Django</li>-->
    <!--        <li>Python</li>-->
    <!--        <li>HTML</li>-->
    <!--        <li>Bootstrap</li>-->
    <!--        <li>CSS</li>-->
    <!--        <li>SCSS</li>-->
    <!--        <li>SQL</li>-->
    <!--        <li>Databases</li>-->
    <!--        <li>TTD</li>-->
    <!--        <li>Ionic</li>-->
    <!--        <li>React</li>-->
    <!--        <li>Angular</li>-->
    <!--    </ul>-->
    <!--    </div>-->
        <div class="row">
            <div class="col-sm-6">
                <h1 class="service-title-mobile">WEB DESIGN</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <h1 class="service-title-mobile  service-title-mobile-2" >CUSTOM DESIGN</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <h1 class="service-title-mobile">LOGO DESIGN</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <h1 class="service-title-mobile">E-COMMERCE</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <h1 class="service-title-mobile">SEO</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <h1 class="service-title-mobile">Native Apps</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <h1 class="service-title-mobile">What's Included</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
    </div>
</section>

<!--Application Footer-->
<%= render "layouts/shared/footer" %>
