<section id="contact" class="contact">
    <div class="container padding-left">
    <!--<div class="row">-->
    <!--<h4 style="background:#fdcb50">Technologies Used</h4>-->
    <!--<ul class="col-sm-12 col-md-12 hidden-lg technical-list" style="background:#fdcb50">-->
    <!--        <li>Ruby</li>-->
    <!--        <li>Rails</li>-->
    <!--        <li>Django</li>-->
    <!--        <li>Python</li>-->
    <!--        <li>HTML</li>-->
    <!--        <li>Bootstrap</li>-->
    <!--        <li>CSS</li>-->
    <!--        <li>SCSS</li>-->
    <!--        <li>SQL</li>-->
    <!--        <li>Databases</li>-->
    <!--        <li>TTD</li>-->
    <!--        <li>Ionic</li>-->
    <!--        <li>React</li>-->
    <!--        <li>Angular</li>-->
    <!--    </ul>-->
    <!--    </div>-->
        <div class="row">
            <div class="col-sm-5 service-column-style">
                <div class="text-left">
                    <i class="fa fa-desktop fa-4x service-icon" aria-hidden="true"></i>
                </div>
                <h1 class="service-title-mobile">WEB DESIGN</h1>
            </div>
            
            <div class="col-sm-6">
                <p class="service-paragraph">
                Exceptional websites are a blend of the right message and the right technology.
                Our interactive design approach focuses on usability, impact, and achieving results.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 service-column-style">
              <div class="text-left">
                <i class="fa fa-pencil fa-4x service-icon" aria-hidden="true"></i>
              </div>
                <h1 class="service-title-mobile  service-title-mobile-2" >Web App Developement</h1>
            </div>
            
            <div class="col-sm-6">
                <p class="service-paragraph">
                Your website is so much more than a pretty face. With an easy to
                use content management system your site is a crucial aspect of your marketing plan.
                We work with powerful CMS solutions to make it easy to keep your site up to date and secure.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5 service-column-style">
                <div class="text-left">
                 <i class="fa fa-podcast fa-4x service-icon" aria-hidden="true"></i>
                </div>
                <h1 class="service-title-mobile">LOGO DESIGN</h1>
            </div>
            
            <div class="col-sm-6">
                <p class="service-paragraph">
                    Your logo is a visual cornerstone of a company's brand. 
                    Your company's identity is visually expressed through its logo, which,
                    along your company's name', is one of the main things that makes your business memorable.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5 service-column-style">
                <div class="text-left">
                    <i class="fa fa-usd fa-4x service-icon dollar-sign" aria-hidden="true"></i>
                </div>
                <h1 class="service-title-mobile">E-COMMERCE</h1>
            </div>
            
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5 service-column-style">
                <div class="text-left">
                    <i class="fa fa-search-plus fa-4x service-icon" aria-hidden="true"></i>
                </div>
                <h1 class="service-title-mobile">SEO</h1>
            </div>
            
            <div class="col-sm-6">
                <p class="service-paragraph">
                SEO or Search Engine Optimization is a technique used by professional
                web designers to make your website receive great rankings from search engines.
                If search engines cannot find your site easily, your potential clients will not either.
                Your site must be optimized in order to be found. 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5 service-column-style">
              <div class="text-left">
                <i class="fa fa-mobile fa-4x service-icon native-iphone" aria-hidden="true"></i>
              </div>
                <h1 class="service-title-mobile">Native Apps</h1>
            </div>
            
            <div class="col-sm-6">
                <p class="service-paragraph">
                Many apps start with iOS development for iPhone and iPad. 
                With strict app policies in place to keep quality high from design to support,
                you’ll want dev work that meets Apple’s standards and wins customers. We do that.
                </p>
            </div>
        </div>
        
        <div class="row ">
            <div class="col-sm-12 col-md-12 service-column-style">
                <h1 class="service-title-mobile service-title-mobile-special">What's Included</h1>
                <div class="container-fluid whats-included-icon-container">
                        <ul class="included-device-display no-padding-left" text-center="">
                            <li>
                                <i class="fa fa-mobile fa-4x" aria-hidden="true"></i>    
                            </li>
                        </ul>
                        <ul class="included-device-display" text-center="">
                            <li>
                              <i class="fa fa-tablet fa-4x" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <ul class="included-device-display" text-center="">
                            <li>
                              <i class="fa fa-desktop fa-4x" aria-hidden="true"></i>
                            </li>
                        </ul>
                </div>
            
            <div class="col-sm-6 col-md-12">
                <p class="service-paragraph service-paragraph-mobile-special">
                    Included in each package, we will design three stunning versions
                    of your website—desktop, tablet, and mobile phone. The design will be responsive,
                    meaning it will change automatically in response to the visitor’s device.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <!--<li class="social-twitter">-->
                <!--    <a href="#"><i class="fa fa-twitter"></i></a>-->
                <!--</li>-->
                <li class="social-facebook">
                    <a href="https://www.facebook.com/2150webdesignsco/?ref=aymt_homepage_panel"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
</section>

<!--Application Footer-->
<%= render "layouts/shared/footer" %>