<section id="contact" class="contact bg-primary">
    <div class="container">
    <!--<div class="row">-->
    <!--<h4 style="background:#fdcb50">Technologies Used</h4>-->
    <!--<ul class="col-sm-12 col-md-12 hidden-lg technical-list" style="background:#fdcb50">-->
    <!--        <li>Ruby</li>-->
    <!--        <li>Rails</li>-->
    <!--        <li>Django</li>-->
    <!--        <li>Python</li>-->
    <!--        <li>HTML</li>-->
    <!--        <li>Bootstrap</li>-->
    <!--        <li>CSS</li>-->
    <!--        <li>SCSS</li>-->
    <!--        <li>SQL</li>-->
    <!--        <li>Databases</li>-->
    <!--        <li>TTD</li>-->
    <!--        <li>Ionic</li>-->
    <!--        <li>React</li>-->
    <!--        <li>Angular</li>-->
    <!--    </ul>-->
    <!--    </div>-->
        <div class="row">
            <div class="col-sm-6 service-column-style">
                <i class="fa fa-desktop fa-2x service-icon" aria-hidden="true"></i>
                <h1 class="service-title-mobile">WEB DESIGN</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 service-column-style">
                <i class="fa fa-pencil fa-2x service-icon" aria-hidden="true"></i>
                <h1 class="service-title-mobile  service-title-mobile-2" >CUSTOM DESIGN</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 service-column-style">
                 <i class="fa fa-podcast fa-2x service-icon" aria-hidden="true"></i>
                <h1 class="service-title-mobile">LOGO DESIGN</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 service-column-style">
                <i class="fa fa-usd fa-2x service-icon dollar-sign" aria-hidden="true"></i>
                <h1 class="service-title-mobile">E-COMMERCE</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 service-column-style">
                <i class="fa fa-search-plus fa-2x service-icon" aria-hidden="true"></i>
                <h1 class="service-title-mobile">SEO</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 service-column-style">
                <i class="fa fa-mobile fa-3x service-icon native-iphone" aria-hidden="true"></i>
                <h1 class="service-title-mobile">Native Apps</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 service-column-style">
                <h1 class="service-title-mobile">What's Included</h1>
            </div>
            <hr class="divider-hr">
            <div class="col-sm-6">
                <p class="service-paragraph">
                This should get you pointed in the correct direction.
                It looks like your main hiccup is your button data-target attribute is
                referencing a class rather than an ID. It's best to use an ID in this
                situation so if you call that class elsewhere in the code your not throwing
                curve balls at the javascript 
                </p>
            </div>
        </div>
    </div>
</section>

<!--Application Footer-->
<%= render "layouts/shared/footer" %>
