    <section id="features" class="features">
        <div class="container">
           <ul class="text-center section-indicator section-indicator2 section-indicator-ipad">
                <li>OUR</li>
                <li>SERVICES</li>
            </ul>
                <div class="col-sm-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Native Apps</h3>
                                    <p class="text-muted">
                                           Many apps start with iOS development 
                                           for iPhone and iPad. With strict app 
                                           policies in place to keep quality high 
                                           from design to support, you’ll want dev work
                                           that meets Apple’s standards and wins customers.
                                           We do that.
                                    </p>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="feature-item">
                                        <i class="glyphicon glyphicon-briefcase text-primary"></i>
                                        <h3>Web App Development</h3>
                                        <p class="text-muted">
                                            Your website is so much more than a pretty face.
                                            With an easy to use content management system your site is a crucial aspect of your marketing plan.
                                            We work with powerful CMS solutions to make it easy 
                                            to keep your site up to date and secure.
                                        </p>
                                    </div>
                                </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="glyphicon glyphicon-sort-by-alphabet-alt text-primary"></i>
                                    <h3>Branding & Strategy</h3>
                                    <p class="text-muted">
                                        Your brand is more than your logo, name, 
                                        or slogan- it’s the entire experience 
                                        your prospects and patients have with your 
                                        practice. We brand your practice based on
                                        what your practice stands for, the service
                                        you provide and the personality of your practice.
                                        We articulate who you are,what you do, and most importantly, 
                                        why any of it matters.
                                    </p>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="glyphicon glyphicon-globe text-primary"></i>
                                    <h3>Web / Interactive Design</h3>
                                    <p class="text-muted">
                                     Exceptional websites are a blend of the right 
                                     message and the right technology. Our interactive
                                     design approach focuses on usability, 
                                     impact, and achieving results.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-5">-->
                <!--    <div class="device-container">-->
                <!--        <div class="device-mockup iphone6_plus portrait white">-->
                <!--            <div class="device">-->
                <!--                <div class="screen">-->
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <!--                    <img src="img/demo-screen-1.jpg" class="img-responsive" alt="">-->
                <!--                </div>-->
                <!--                <div class="button">-->
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                <!--                </div>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div>-->
            </div>
        </div>
    </section>
