    <section id="download" class="download bg-primary text-center">
        <div class="container">
        <ul class="text-center section-indicator">
            <li>WHY</li>
            <li>US?</li>
        </ul>
            <div class="row">
                <div class="col-sm-5 reason-tables">
                    <h1>01</h1>
                    <p>
                    Our web designers will evaluate your business and products, and work with you towards
                    your goal is for the website. Do you want to generate online sales? Walk-in sales?
                    <!--With us, your site will be designed to meet your specific needs.-->
                    </p>
                </div>
                <div class="col-sm-5 reason-tables">
                    <h1>02</h1>
                    <p>
                    The way your site looks, the way it navigates, and the colors and graphics used are very important.
                    Visitors do not like to search for information, nor do they wish to be barraged with loud colors and crowded text.
                    </p>
                </div>
                <div class="col-sm-5 reason-tables">
                    <h1>03</h1>
                    <p>
                    The Internet changes on a daily basis. New technologies, new computer code,
                    new ways to draw visitors to your site happen each and every day. 
                    When using a professional web designer, you can be assured that 
                    the site is being created according to the latest trends,
                    for optimal success.
                    </p>
                </div>
                <div class="col-sm-5 reason-tables">
                    <h1>04</h1>
                    <p>
                    SEO or Search Engine Optimization is a technique used by professional
                    web designers to make your website receive great rankings from search engines.
                    If search engines cannot find your site easily, your potential clients will not either.
                    Your site must be optimized in order to be found.
                    </p>
                </div>
                <div class="col-sm-5 reason-tables">
                    <h1>05</h1>
                    <p>
                    Contrary to what many people believe, a website is never complete.
                    Websites must have continual maintenance to keep them current and relevant to their industry.
                    Technology is continually changing, and for websites to remain popular and successful,
                    they must remain up-to-date with these trends. 
                    </p>
                </div>
                <!--<div class="col-sm-5 reason-tables">-->
                <!--    <h1>06</h1>-->
                <!--    <p>-->
                <!--        This should get you pointed in the correct direction.-->
                <!--        It looks like your main hiccup is your button data-target attribute is-->
                <!--    </p>-->
                <!--</div>-->
            </div>
        </div>
    </section>
