/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


.navbar-toggle{
    margin-top: 19px;
}

.technical-list{
    display: inline-flex;
    background: white;
    color: black;
    padding: 2% 3%;
    width: 100%;
    margin: 0px;
    background: gainsboro;
    overflow-x: scroll;
}

.technical-list li{
    margin: 0px 7px;
    list-style: none;
    background: green;
    padding: 1% 4%;
    border-radius: 4px;

}

.technical-list li:first-child{
    margin: 0px;
    margin-right: 2%;
}

.header-full-height{
    height: 100%;
}

header .header-content .header-content-inner h1{
    margin-top: 10% !important;
    font-family: 'Lobster', cursive !important;
    font-size: 3.8em !important;
}

.reason-tables{
    border: solid 1px white;
    text-align: left;
    background: rgba(255, 255, 255, 0.93);
    margin: 3% 2%;
    border-radius: 7px;
}

.reason-tables h1{
    font-size: 4em;
    color: #a94442;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.reason-tables p{
    color: rgba(0, 0, 0, 0.6);
}

.section-indicator{
    font-size: 1.2em;
    list-style: none;
    background: #ff2d21;
    width: 11%;
    padding: 3%;
    margin-top: 10%;
    margin-left: 2%;
    border-radius: 57%;
}

// IPHONE
@media screen and (max-device-width : 414px){
    .logo{
        width: 17%;
        height: auto;
        padding: 0px;
    }
    
    section.download , section.features{
        padding: 0px !important;
    }
    

    .section-indicator{
        font-size: 1.2em;
        list-style: none;
        background: #ff2d21;
        width: 18%;
        padding: 3%;
        margin-top: 10%;
        margin-left: 2%;
        border-radius: 57%;
    }

    .section-indicator2{
        font-size: 1.1em;
        padding: 5.8% 0%;
        color: white;
        width: 22.9%;
    }
    
    .header-content-inner p {
        font-size: 1em;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 16%;
    }
    
    .btn-xl{
        padding: 28px 13px !important;
        border: dotted 3px !important;
        margin-top: 24%;
    }
    
    .button-margin-top{
        margin-top: 26%;
    }
    
    section.features .feature-item h3{
       
        border-bottom: solid 4px #a94442;
        /* background: #a94442; */
        padding: 5px;
        color: #a94442;
        border-radius: 4px;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: left;
        font-size: 2.3em;
 
    }
    
    section.features .feature-item p{
        text-align: left !important;
    }
}


// DESKTOP
@media screen and (min-width: 768px)
{
      .logo{
        width: 27%;
        height: auto;
        padding: 0px;
        }
        
        ul.nav{
            margin-top: 2%;
        }
}